@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply antialiased;
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Add any global styles here */
/* Add this to your globals.css */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}